html{
  font-size: 16px;
}

*{
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  color: #f2e9b6;
  text-decoration: none;
}

/* nav */
nav{
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  font-size: 1.5em;
}


.links{
  display: flex;
  align-items: center;
  gap: 25px;
  padding-right: 50px;
}



.links a:hover,.mapweb a:hover{
  color:rgb(170, 170, 170);
}

.changelanguage button{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2e9b6;
  background-color: #5c5c5c;
  border: none;
  border-radius: 5px;
}


/* header */
#about_us{
  display: flex;
  width: 100%; 
  background-color: black; 
  padding-bottom: 50px;
}

.picture-container{
  flex: 1;
  width: 50%;
  background-color: black;
}

#photo_us{
  object-fit: contain;
  flex: 1;
  width: 100%;
}

.TextaboutUs{
  flex: 1;
  color: #f2e9b6;
  width: 50%;
  word-spacing:1px;
  padding: 10px;
  margin: 10px;
}


h1,h2,h5{
  text-align: center;
  padding-bottom: 20px;
}
h1,h2{
  font-size: 2em; 
}
h5{
  font-size: 1.2em;
}
p{
  font-size: 1.2em;
  inline-size: 100%;
  word-wrap: break-word;
}



/* katalog usług */
#services{
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
}
.services_catalog{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15%;
  margin: 60px;
  max-width: 100%;
}

.services_catalog p{
  color:white;
}
.service{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  height: 400px;
  box-shadow: -1px 5px 9px gray;
  background: linear-gradient(0deg, rgba(190,111,36,1) 0%, rgba(214,169,115,1) 100%); 
  border-radius: 5px;
  text-align: center;
  padding: 20px 20px 10px 20px;
  font-size: 1.15em;
  transition: transform 0.3s; 
}

.services_catalog .service:hover{
  transform: scale(1.15);
}
.picture-hover img{
  width: 200px;
  height: 350px;
  object-fit: cover;
  box-sizing: border-box;
}




/* gwarancja */

#guarantee{
  display: flex;
  justify-content: center;
  color: black;
  width: 100%;
  padding: 50px 0;
}

#guarantee .tekst{
  flex:1;
  padding: 20px 60px;
}

#guarantee .obrazek{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}




/* stopka*/
footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
  height: auto;
  width: 100%;
  color: #f2e9b6;
  background-color:black ;
}
.footer_info{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
h5{
  text-align: left;
}
ol{
  padding: 0px;
  list-style: none;
}
.numer_tel{
  margin-top: 10px;
}
.mapweb{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.social{
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listOfsocial{
  align-self: center;
}
.social_ikon{
  width: 25px;
}

ul li{
  list-style-type:none;
}

li::before{
  content: "» " ;
}
.copywrite{
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-top: 25px;
}








@media only screen and (max-width: 764px){ 
/* nav */
  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

  }
  .links{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
/* header */
  #about_us{
    display: flex;
    flex-direction: column;
  }
  .TextaboutUs{
    flex: 1;
    width: 95%;
    padding: 9px;
    align-self: center;
    margin: 0;
  }
  .picture-container{
    flex: 1;
    width: 100%;
  }

  #Überuns{
    width: 100%;
  }

  /* serwis */

  .services{
    display: flex;
    flex-direction: column;
  }
  .services_catalog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 25px;
  }

/* gwarancja */
  #guarantee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #guarantee .tekst{
    flex: 1;
    width: 98%;
    padding: 4px;
  }

  /* stopka */

  footer{
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0px;
  }
  .footer_info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mapweb{
    margin-bottom: 50px;
    width: 150px;
  }
  .localization{
    margin: 50px 0px;

  }
  .localization h5{
    text-align: center;
  }
  .social{
    align-self: center;
    width: 150px;
    padding: 0;
  }
  ol{
    margin-bottom: 5px;
  }
  .copywrite{
    margin-bottom: 20px;
  }
  .grid-services{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    height: auto;
  }

  .grid-item{
    height: 75%;
  }
  .decontact{
    width: 200px;
  }

  .image-gallery img {
    width: 95%;
    height: 60%;
    object-fit: contain;
    max-height: 600px;
  }

  .mob{
    height: 400px;
  }


}

@media only screen and (min-width: 765px) and (max-width:1580px){ 
  *{
    margin: 0;
    padding: 0;
  }

  nav{
    width:100%;
  }
  #about_us{
    width: 100%;
  }
  .picture-container{
    flex: 1;
    width: 50%;
  }
  .TextaboutUs{
    flex: 1;
    width: 50%;
    box-sizing: border-box;
  }


  .services_catalog{
    gap: 50px;
  }

  footer{
    width: 100%;
  }

  .grid-services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: auto;
  }


  
}